{% extends "::layout.html.twig" %}
 
{% block title %}
    {{ parent() }}
{% endblock %}
 
{% block body %}
  <hr>
 
  {# On définit un nouveau block, que les vues du bundle pourront remplir #}
  {% block parcInfo_menu %}
  <div id="menu">
  <div class="row" id='row1'>
    <ul class="nav">
      <li><a href="{{ path('parcInfo_voir_liste_salle') }}">Salles</a></li>
      <li><a href={{ path('parcInfo_voir_liste_ordi') }}>Ordinateurs</a></li>
      <li><a href="{{ path('parcInfo_voir_liste_package') }}">Packages</a></li>
      <li><a href="{{ path('parcInfo_voir_liste_OS') }}">OS</a></li>
      <li><a href="{{ path('parcInfo_voir_liste_peripherique') }}">Périphérique</a></li>
      <li><a href="{{ path('parcInfo_voir_liste_logiciel') }}">Logiciel</a></li>
    </ul>
  </div>
  {% endblock %}
  <!-- ici je voudrais ajouter une liste-->
  {% block parcInfo_content %}
  <div class="row" id='row2'>
  </div>
  {% endblock %}
  {% block javascripts %}

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
 <script src="http://127.0.0.1/ProjetPHP/web/js/main.js"></script>


{% endblock %}
{% endblock %}