{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
  
{% block title %}
  Accueil - {{ parent() }}
{% endblock %}
 
{% block parcInfo_body %}
<div id="menu">
  <div class="row" id='row1'>
    <ul class="nav">
      <li><a href="#salle">Salles</a></li>
      <li><a href="#ordi">Ordinateurs</a></li>
      <li><a href="#package">Packages</a></li>
      <li><a href="#OS">OS</a></li>
      <li><a href="#peripherique">Périphérique</a></li>
      <li><a href="#logiciel">Logiciel</a></li>
    </ul>
  </div>
  <div class="row" id='row2'>
        
  </div>
          
</div>
  <div class="contextMenu" id="salle">
      <ul>
          <li><a href="{{ path('parcInfo_voir_liste_salle') }}">Lister salle</a></li>
          <li><a href="{{ path('parcInfo_ajouter_salle') }}">Ajouter salle</a></li>
      </ul>
  </div>
  <div class="contextMenu" id="ordi">
      <ul>
          <li><a href="{{ path('parcInfo_voir_liste_ordi') }}">Lister Ordinateur</a></li>
          <li><a href="{{ path('parcInfo_ajouter_ordi') }}">Ajouter Ordinateur</a></li>
      </ul>
  </div>
  <div class="contextMenu" id="package">
      <ul>
           <li><a href="{{ path('parcInfo_ajouter_package') }}">Ajouter Package</a></li>
          <li><a href="{{ path('parcInfo_voir_liste_package') }}">Lister Package</a></li>
      </ul>
  </div>
  <div class="contextMenu" id="OS">
      <ul>
          <li><a href="{{ path('parcInfo_ajouter_OS') }}">Ajouter OS</a></li>
          <li><a href="{{ path('parcInfo_voir_liste_os') }}">Lister OS</a></li>
      </ul>
  </div>
  <div class="contextMenu" id="logiciel">
      <ul>
         <li><a href="{{ path('parcInfo_ajouter_logiciel') }}">Ajouter un Logiciel</a></li>
          <li><a href="{{ path('parcInfo_voir_liste_logiciel') }}">Lister Logiciel</a></li>
      </ul>
  </div>
  <div class="contextMenu" id="peripherique">
      <ul>
          <li><a href="{{ path('parcInfo_ajouter_peripherique') }}">Ajouter un périphérique</a></li>
          <li><a href="{{ path('parcInfo_voir_liste_peripherique') }}">Lister périphérique</a></li>
      </ul>
  </div>
  
  {% endblock %}
  {% block javascripts %}

<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
 
<script type="text/javascript">
    $(function() {
     
     $('.nav').on('click','a', function(event){
		event.preventDefault();
		var $this = $(this);
		
		showContextMenu($this.attr("href"));
	});
    });
    showContextMenu = function(whatToShow){
        var contenu = $(whatToShow);
        console.log(contenu);
        $('#row2').html(contenu.html())
           
    }
</script>

{% endblock %}

  