{# On utilise une variable temporaire, qu'on définit à false si elle n'est pas déjà définit #}
{% set accueil = accueil|default(false) %}
 
<h2>
 
    {{ salle.nom }} [ {{ salle.localisation }} ]
 
</h2>
 
 
<div class="well">
  {{ salle.description }}
</div>
- Ordinateur :
{% for item in liste_ordinateur %}

<ul>
    <li><a href="{{ path('parcInfo_voir_ordi', {'id': item.id}) }}"> {{ item.nom }}</a> </li>
</ul>
     
        
    {% endfor %}
