{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}

{% block parcInfo_content %}
<div class="row" id='row2'>
<h2>liste des salles</h2>
  
  <ul>
  {% for salle in liste %}
          <li><a id='produit' href="{{ path('parcInfo_voir_salle', {'id': salle.id}) }}">{{ salle.nom }}</a>
                  
                      <a href="{{ path('parcInfo_modifier_salle', {'id': salle.id}) }}" class="btn">Modifier</a>
                      <a href="{{ path('parcInfo_supprimer_salle', {'id': salle.id}) }}" class="btn">Supprimer</a>
                               
    
    
     
</li>
  {% else %}
    <li>Aucune salle</li>
  {% endfor %}
</ul>
<div class='bottom'><a href="{{ path('parcInfo_ajouter_salle') }}">Ajouter salle</a></div>
</div>
{% endblock %}