{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Ordinateur - {{ parent() }}
{% endblock %}
 
{% block parcInfo_content %}
  <div class="row" id='row2'>
 
  <h2>liste des packages</h2>
  
  <ul>
  {% for package in liste_package %}
          <li><a href="{{ path('parcInfo_voir_package', {'id': package.id}) }}">{{ package.name }}</a>  <a href="{{ path('parcInfo_modifier_package', {'id': package.id}) }}" class="btn">Modifier</a>
                      <a href="{{ path('parcInfo_supprimer_package', {'id': package.id}) }}" class="btn">Supprimer</a></li>
  {% else %}
    <li>Pas de package trouvé.</li>
  {% endfor %}
</ul>
  <div class='bottom'><a href="{{ path('parcInfo_ajouter_package') }}">Ajouter package</a></div>
   </div>
  
 
 
{% endblock %}