{% extends "JulienParcInformatiqueBundle::layout.html.twig" %}
 
{% block title %}
  Lecture d'une salle - {{ parent() }}
{% endblock %}
 
{% block parcInfo_content %}
  <div class="row" id='row2'>
 
  <h2>

        {{ package.name }}

    </h2>
  
  {% if package.logiciels.count > 0 %}
    - Logiciel :
    {% for logiciel in package.logiciels %}
      {{ logiciel.name }}
      {% if not loop.last %} - {% endif %}
    {% endfor %}
  {% endif %}

      <p class="bottom">
    <a href="{{ path('parcInfo_voir_liste_package') }}" class="btn">
     
      Retour à la liste
    </a>
    <a href="{{ path('parcInfo_modifier_package', {'id': package.id}) }}" class="btn">
     
      Modifier le package
    </a>
    <a href="{{ path('parcInfo_supprimer_package', {'id': package.id}) }}" class="btn">
    
      Supprimer le package
    </a>
  </p>
    
 </div>
 
{% endblock %}